.container {
  width: 100%;
  max-width: 920px;
  margin: 24px 0;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.image {
  width: 100%;
  object-fit: fill; /* 🔥🔥 */
  object-fit: cover; /* 🔥🔥 */
  object-fit: contain; /* 🔥🔥 */
}
